$variant: 'light';
$contrast: 'normal';

@import 'gnome-shell-sass/_colors';

$pfx: 'ibus-tweaker-candidate';

$bdw: 0.05em;
$ltr: 24%;
$dkr: 4%;

@mixin fgcolor($t: 0) {
    color: transparentize($dark_5, $t);
    .night & { color: transparentize($light_1, $t); }
}

@mixin color {
    @include fgcolor;
    background-color: lighten($bg_color, $dkr);
    .night & { background-color: lighten($_base_color_dark, $dkr); }
}

@mixin bgcolor {
    &:hover { background-color: st-transparentize(st-lighten(-st-accent-color, $ltr), 0.6); }
    .night &:hover { background-color: st-transparentize(st-darken(-st-accent-color, $dkr), 0.6); }
    &:selected { background-color: st-transparentize(st-lighten(-st-accent-color, $ltr), 0.05); }
    .night &:selected { background-color: st-transparentize(st-darken(-st-accent-color, $dkr), 0.05); }
}

@mixin border {
    & { border-color: st-transparentize(st-lighten(-st-accent-color, $ltr), 0.05); }
    .night & { border-color: st-transparentize(st-darken(-st-accent-color, $dkr), 0.05); }
}

.#{$pfx}-popup-boxpointer {
    -arrow-border-radius: 0.8125em;
    -arrow-background-color: transparent;
}

.#{$pfx}-label {
    font-size: 1.25em;
}

.#{$pfx}-index {
    @include fgcolor(0.4);
    padding: 0.25em 0.25em 0 0;
}

.#{$pfx}-page-button-box {
    @include border;
    .vertical & { padding-top: 0; border-top-width: $bdw; }
    .horizontal & { padding-left: 0; border-left-width: $bdw; }
}

.#{$pfx}-popup-content {
    @include color;
    @include border;
    @include bgcolor;
    padding: 0;
    margin: 0.3em;
    border-width: $bdw;
    border-radius: 0.2em;
}

.#{$pfx}-popup-text {
    @include border;
    padding: 0;
    border-width: 0;
    border-bottom-width: $bdw;
}

.#{$pfx}-box {
    @include bgcolor;
    padding: 0.5em;
    border-radius: 0;
    transition-duration: 100ms;
}

.#{$pfx}-page-button {
    @include color;
    @include bgcolor;
    padding: 0;
    border-radius: 0.2em;
    & StIcon { icon-size: 1.45em; }
    &:insensitive { @include fgcolor(0.6); }
}
