// SPDX-FileCopyrightText: tuberry
// SPDX-License-Identifier: GPL-3.0-or-later
$contrast: 'normal';

$pfx: 'ibus-tweaker-candidate';

$idx: 0.8;
$pad: 0.2em;
$bdw: 0.05em;
$bdr: 0.24em;
$bar: $bdr / 4;
$ctt: $pad * 0.75;

@mixin hover {
  // color: $fg_color;
  background-color: $hover_bg_color;
}

@mixin color {
  color: $fg_color;
  background-color: $bg_color;
}

$variant: 'light';
@import 'gnome-shell-sass/_colors';

.#{$pfx}-popup-boxpointer {
    // -arrow-rise: 0.5em;
    -arrow-border-radius: $ctt + $bar + 0.49em * $idx; // index `1` width ~= 0.49em in 方正兰亭圆 font
}

.#{$pfx}-popup-content {
    @include color;
    padding: $ctt;
    border-radius: $bdr;
    border: $bdw solid $outer_borders_color;
    box-shadow: 0 $pad / 2 $pad 0 $shadow_color;
}

.#{$pfx}-box {
    border-radius: $bdr;
    padding: $pad $pad $pad 0;
    & > .#{$pfx}-index {
      font-size: 1em * $idx;
      padding: 1em * (1 / $idx - 1) $pad 0 $pad;
      border-width: 0;
      border-radius: $bar / $idx;
      border-left-width: $bdr / $idx;
      border-color: transparent;
      color: $insensitive_fg_color;
    }
    &:selected {
      @include hover;
      & > .#{$pfx}-index { border-color: -st-accent-color; }
    }
    &:hover { @include hover; }
}

.#{$pfx}-page-button-box {
    spacing: $pad;
    border-color: transparentize($fg_color, 0.7);
    .vertical & { margin-top: $pad; padding-top: $pad; border-top-width: $bdw; }
    .horizontal & { margin-left: $pad; padding-left: $pad; border-left-width: $bdw; }
}

.#{$pfx}-page-button {
    padding: 0 !important;
    max-height: 0 !important; // overwrite `button` style class
    @include color;
    & StIcon { icon-size: 1em; }
    &:hover { @include hover; }
    &:insensitive { color: $insensitive_fg_color; }
}

$variant: 'dark';
@import 'gnome-shell-sass/_colors';

.night .#{$pfx}-popup-content {
    @include color;
    border-color: $outer_borders_color;
    box-shadow-color: $shadow_color;
}

.night .#{$pfx}-box {
    &:hover, &:selected { @include hover; }
    & > .#{$pfx}-index { color: $insensitive_fg_color; }
}

.night .#{$pfx}-page-button-box {
    border-color: transparentize($fg_color, 0.7);
}

.night .#{$pfx}-page-button {
    @include color;
    &:hover { @include hover; }
    &:insensitive { color: $insensitive_fg_color; }
}
